HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# compiled output
/client-app/dist
/client-app/tmp
/client-app/out-tsc

# dependencies
/client-app/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/client-app/.angular/cache
/client-app/.sass-cache
/connect.lock
/coverage
/client-app/libpeerconnection.log
/client-appnpm-debug.log
/client-apptestem.log
/client-app/typings
/client-app/docs

# e2e
/client-app/e2e/*.js
/client-app/e2e/*.map

# System Files
/client-app.DS_Store
/client-appThumbs.db
